body{
  background-color: green;
  font-weight: bold;
}

#wrapper{
  background-color: white;
  margin: 0 auto;
  width: 800px;
}
#header{
  background-color: red;
  text-align: center;
  height: 50px;
  padding: 16px;
}
#nav{
  background-color: pink;
  float: left;
  width: 300px;
  height: 80px;
}
#nav2{
  background-color: orange;
  float: right;
  width: 500px;
  height: 80px;
}
#content{
  background-color: blue;
  height:400px;
  padding: 16px
}
#footer{
  background-color: yellow;
  padding: 16px;
}
